/BankAccount.class
/BankAccountMain.class
/CartItem.class
/CartItemMain.class
/MovieTicket.class
/MovieTicketMain.class
/PallindromeChecker.class
/PallindromeCheckerMain.class
/Student.class
/StudentMain.class
